<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>流程管理</title>
    <link href="../js/jquery-easyui-1.3.6/themes/default/easyui.css" rel="stylesheet" />
    <link href="../js/jquery-easyui-1.3.6/themes/icon.css" rel="stylesheet" />
    <script src="../js/jquery-1.11.1.js"></script>
    <script src="../js/jquery-easyui-1.3.6/jquery.easyui.min.js"></script>
    <script src="../js/jquery-easyui-1.3.6/locale/easyui-lang-zh_CN.js"></script>
    <script src="../js/string.formart.js"></script>
    <script src="../js/grid-tool.js"></script>
    <script type="text/javascript">

        //user.json?page=2&rows=10

        //保存（修改&新增）
        function accept() {
            //非编辑状态不做操作
            if (editIndex == undefined) { return; }

		   //获取当前行原有数据
            var $row = $('#dg').datagrid('getRows')[editIndex];
            
          	//获取用户名
			var username = $('#dg').datagrid('getEditor', { index: editIndex, field: 'username' });
			username = $(username.target).val();
 
			if(username.length==0){
				$.messager.alert('异常', '用户名不能为空');
				return;
			}

            //获取选择的性别
            var sex = $('#dg').datagrid('getEditor', { index: editIndex, field: 'sex' });
            sex = $(sex.target).combobox('getValue');
            if(sex.length==0){
				$.messager.alert('异常', '性别不能为空');
				return;
			}
            //获取选择的禁用启用状态
            var enabled = $('#dg').datagrid('getEditor', { index: editIndex, field: 'enabled' });
            enabled = $(enabled.target).combobox('getValue');
         
            //调用后台方法执行保存
            $.getJSON(String.format("../manager/{0}.action", $row.id ? "updateAirshuttleUser" : 'insertAirshuttleUser'), //原有数据无 ID 则为新增
                {
                    userId: $row.id,
                    username: username,
                    password: '',
                    sex: sex,
                    enabled: enabled
                }, function (data) {
                    if (data.result) {
                        $.messager.alert('错误', data.result);
                        return;
                    }

                    if(!$row.id ){
	                    $row['id'] = data.id;
	                    $row['modifyPerson'] = data.modifyPerson;
	                    
	                    if(data.modifyTime != undefined){
                       	 $row["modifyTime"] = data.modifyTime;
                       }
                       
						if(data.createPerson != undefined){
							$row["createPerson"] = data.createPerson;
                       }
                       
						if(data.createPerson != undefined){
							$row["createTime"] = data.createTime;
						}
                    }
                    endEditing();
                    $('#dg').datagrid('acceptChanges');
                }).fail(function () {
                    $.messager.alert('异常', '请检查网络后重试。');
                });

        }

      //删除
        function removeit() {
		
		$.messager.confirm('确认','确定要删除选定数据吗？',function(r){
			if (r){
			   	var $dg = $('#dg');
	            if (editIndex != undefined) {
	                $dg.datagrid('cancelEdit', editIndex);
	                editIndex = undefined;
	            }
	
	            var rows = $dg.datagrid('getChecked');
	
	            var arrID = [];
	            for (var i = 0; i < rows.length; i++) {
	                arrID.push(rows[i].id);
	            }
	
	            if (arrID.length == 0) {
	                return;
	            }
	
	            while (rows.length > 0) {
	                $dg.datagrid('deleteRow', $dg.datagrid('getRowIndex', rows[rows.length - 1]));
	            }
	
	            $.post("../manager/deleteAirshuttleUserByIds.action", $.param({ userIds: arrID }, true),
	              function (data) {
	                  if (data.result) {
	                      reject();
	                      $.messager.alert('错误', data.result);
	                      return;
	                  }
	                  $dg.datagrid('acceptChanges');
	              })
	              .fail(function () {
	                  reject();
	                  $.messager.alert('异常', '信息删除失败，请检查网络后重试。');
	              });
				}
			});
            
        }

        //分配角色
        function allocationRole() {
            var row = $("#dg").datagrid('getSelected');
            if (!row) { return; }
            $("#table_window").datagrid("clearChecked");
            $("#table_window").datagrid({ url: String.format("../manager/queryRoleListByUserId.action?userID={0}", row.id) });
            $('#allocationWindow').window({ title: String.format("给 {0} 分配角色", row.username) });
            $('#allocationWindow').window('move', { left: 300, top: 40 });
            $('#allocationWindow').window('open');
        }
        
	     
	     function tableWindow_onLoadSuccess(data){
	    	 if(data){
	    		 $.each(data.rows, function(index, item){
	    		 	if(item.checked =="true"){
	    			 $('#table_window').datagrid('checkRow', index);
	    		 	}	
	    		 });
    		 }
	     }

        //保存角色分配信息
        function accept_window() {

            var rows = $("#table_window").datagrid("getChecked");
            var roleIds = [];
            for (var i = 0; i < rows.length; i++) {
            	roleIds.push(rows[i].id);
            }

            var userID = $("#dg").datagrid('getSelected').id;
            $.getJSON("../manager/insertRoleUser.action", $.param({
            	userID: userID,
            	roleIds: roleIds
            }, true), function (data) {
                if (data.result) {
                    $.messager.alert('错误', data.result);
                    return;
                }

                $.messager.alert('成功', "角色分配已保存");
            }).fail(function () {
                reject('dg');
                $.messager.alert('异常', '请检查网络后重试。');
            })

        }

		function datetimeFormatter(dateStr){
			if(dateStr == undefined || dateStr == ''){return '';}
			var date= new Date(dateStr);
			var y = date.getFullYear();
			var m = date.getMonth()+1;
			var d = date.getDate();
			return String.format('{0}-{1}-{2} {3}:{4}:{5}',date.getFullYear(),date.getMonth()+1,date.getDate(),date.getHours(),date.getMinutes(),date.getSeconds());
		}
	     function queryUser() {
	            $("#search_key").val($("input[name='search_key']").val());
	            $("#dg").datagrid("load", {'search_key':  $("#search_key").val()});
	        }

    </script>
</head>
<body>
    <table id="dg" class="easyui-datagrid"
        data-options="
                rownumbers: true,
                fit:true,
                iconCls: 'icon-edit',
                toolbar: '#tb',
                idField:'id',   
                checkOnSelect:false,
                selectOnCheck:false,
                singleSelect:true,
                url: '/manager/userList', 
                method: 'get',
                onDblClickRow: onClickRow,
                pagination:true,
                pageSize:10
        ">
        <thead>
            <tr>
                <th data-options="field:'ck',checkbox:true"></th>
                <th editor="{type:'validatebox',options:{required:true}}"  data-options="field:'username',width:120">用户名</th>
                <th data-options="field:'sex',align:'center',width:60,   rownumbers: true,
                        formatter:function(value){
                            return value == '0'?'女':'男';
                        },
                        editor:{
                            type:'combobox',
                            options:{
                                valueField:'valueField',
                                textField:'textField',
                                data:[{valueField:'0',textField:'女'},{valueField:'1',textField:'男'}]
                            }
                        }">性别</th>
                <th data-options="field:'enabled',width:80,align:'center',
                        formatter:function(value,row){
                            return value == '0'?'禁用':'启用';
                        },
                        editor:{
                            type:'combobox',
                            options:{
                                valueField: 'value',
		                        textField: 'text',
                                data:[{'value':0,'text':'禁用'},{'value':1,'text':'启用'}]
                            }
                        }">是否启用</th>
                <th data-options="field:'modifyPerson',width:120">修改人</th>
                <th data-options="field:'modifyTime',width:230,align:'center',formatter:datetimeFormatter">修改时间</th>
                <th data-options="field:'createPerson',width:120">创建人</th>
                <th data-options="field:'createTime',align:'center',width:230,formatter:datetimeFormatter">创建时间</th>
            </tr>
        </thead>
    </table>
    <div id="tb" style="height: auto">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="append('dg', {username:'',sex:'1',enabled:'1'})">新增</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeit()">删除</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="accept()">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick="reject()">取消</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-application-side-tree',plain:true" onclick="allocationRole()">分配角色</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="queryUser()">查询</a><input style="width: 100px;" name="search_key" />  
    </div>
 <input hidden="hidden" id="search_key" />
    <div id="allocationWindow" class="easyui-window" data-options="modal:true,closed:true,minimizable:false,maximizable:false,collapsible:false,iconCls:'icon-application-side-tree'" style="width: 240px; height: 400px; padding: 10px;">
        <table id="table_window" class="easyui-datagrid"
            data-options="
                fit:true,
                iconCls: 'icon-edit',
                toolbar: '#tb_window',
                idField:'id',   
                method: 'get',
                onLoadSuccess:tableWindow_onLoadSuccess
        ">
            <thead>
                <tr>
                    <th data-options="field:'ck',checkbox:true"></th>
                    <th data-options="field:'name',width:120,editor:'text'">角色名</th>
                </tr>
            </thead>
        </table>

        <div id="tb_window" style="height: auto">
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="accept_window()">保存</a>
        </div>
    </div>

</body>
</html>
