<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="../css/index.css" rel="stylesheet" />
    <script src="../js/jquery-1.11.1.js"></script>
    <script src="../js/jquery.tmpl.js"></script>
    <script type="text/javascript">
        $(function () {
        	//禁止滚动条
        	 $(document.body).css({
			   "overflow-x":"hidden",
			   "overflow-y":"hidden"
			 });
        
            //iframe 宽度自适应
            $('iframe').load(function () {
                $(this).contents().find("body").wrap("<div style='width:100%;height:100%;'>");
            });

            //瀑布流浮动
            
            function getFirstData(){
			    $.ajax({
			    type: "POST",
			    url:'../userstate/firstPageInfo.action',
			    datatype: "json",
			    contentType: "application/json",
			    success: function(result){
			     //alert(result);
			     var d = eval("("+result+")");
			     //alert(d.exchangeDataTotal);
			     addData(d);
			     return ;
			    }
			    });
			}
			//value.userCount
			//value.overStockData
			function addData(value){
				 var exchangeInfo = document.getElementById("exchangeInfo");
  				 exchangeInfo.innerHTML=value.exchangeDataTotal;
  				 var userInfo = document.getElementById("userInfo");
  				 userInfo.innerHTML=value.userCount;
  				 var overStock = document.getElementById("overStock");
  				 overStock.innerHTML=value.overStockData;
			}
            getFirstData();
        });

    </script>
</head>
<body>
 <div class="type">
    	<dl>
        	 <b style="width:45px;height:60px; background:url(../images/user.png);float:left;margin-right:1%;"></b>
           <!--  <dt>用户数:</dt>-->
        	
            <dd id="userInfo"></dd>
            <b style="width:45px;height:60px; background:url(../images/exchange.png);float:left;margin-right:1%;"></b>
            <!-- <dt>交换量：</dt>-->
        	<dd id="exchangeInfo"></dd>
             <b style="width:45px;height:60px; background:url(../images/overstock.png);float:left;margin-right:1%;"></b>
           <!-- <dt>积压量:</dt>-->
        	<dd id="overStock"></dd>
        </dl>
    </div>
    <div class="index_item">
        <div id="data">
            <b>交换量</b>
            <p>
                <iframe src="../view/userstate/exchDataForMain.jsp" width="100%" height="320px" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe>
            </p> 
        </div>
        <div id="data1">
            <b>活跃用户</b>
            <p>
                <iframe src="../view/userstate/activeUserDataForMain.jsp" width="100%" height="320px" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe>
            </p>
        </div>
    </div> 
    <!--  <div class="ctinfo" id="countInfo" style="text-align: center;font-family:微软雅黑 ; font-weight: bolder; height:100%;line-height:100%;margin-top:10px;">
   		 </div>-->
   		 
</body>
</html>
