/* CSS Version Default */
/* Version: 2.0  || Date: 2013-04-17 || Author: Cathy */
/* Cascading Style Sheets Level 2 Revision 1 */
@charset "utf-8";
body {
	min-width: 980px;
	font-family:'Microsoft YaHei';
}




/*login*/
.login .body{
	padding-top:88px;
	min-height:350px;
	width:980px;
	margin:0 auto;
}
.login .logo{
	height:117px;
	width:488px;
	margin-left:-101px;
	margin-top:24px;
}
.login .form_bg{
	width:362px;
	height:348px;
	margin-right:95px;
}
.login h2{
	line-height:48px;
	margin-left:35px;
	font-weight:normal;
	padding-left:12px;
}
.login .form_bg .con{
	padding:50px 18px;;
}
.login label{
	line-height:32px;
	font-size:16px;
	*font-size:16px;
}
.login input[type="text"], .login input[type="password"], .login button, .login input[type="button"]{
	width:261px;
	height:36px;
	line-height:35px;
	margin-bottom:10px;
	font-size:16px;
	font-family:'Microsoft YaHei';
}
.login button, .login input[type="button"], .login2 button, .login2 input[type="button"]{
	border:none;
	word-spacing:20px;
	line-height:inherit;
}

/*login end*/

/*header*/
header{
	background-position: left -400px;
	height: 60px;
}
header .logo, header .logo2{
	line-height:50px;
	padding-left:343px;
	float:left;
	height:60px;
}
header .user{
	padding:12px;
	line-height:18px;
	font-size:11px;
}
header ul.op{
	height: 33px;
	margin-right: 16px;
	margin-top:14px;
}
header ul.op li{
	float:left;
	margin: 0 5px;
	height: 33px;
	width:37px;
	text-indent:-9999px;
}
header li.pw{
	background-position: 10px -93px;
}
header li.pw:hover{
	background-position:-73px -93px;
}
header li.logout{
	background-position: 10px -176px;
}
header li.logout:hover{
	background-position:-73px -176px;
}
header li.sys{
	background-position: 8px -273px;
}
header li.sys:hover{
	background-position:-75px -273px;
}
/*header end*/

/*menu*/
menu{
	height: 30px;
	background-position: left -30px;
}
menu ul{
	padding: 0 8px;
	height: 30px;
}
menu li{
	float: left;
	line-height:29px;
	height:30px;
	display: inline;
	padding-left:20px;
	text-align:center;
	font-size:14px;
}
menu li a{
	padding-right: 20px;
	display: block;
	height:30px;
}
menu li a span{
	display: block;
	padding: 0 8px;
	height: 28px;
}
menu li:hover, menu li.selected{
	background-position: left top;
}
menu li:hover a, menu li.selected a{
	background-position: right top;
}
/*menu end*/

/*footer*/
footer{
	height: 27px;
	text-align: center;
	line-height: 27px;
	font-size:11px;
}
/*footer end*/

.main-panel{
	min-width:660px;
	margin:10px auto;
}
.panel{
	border-radius:4px;
}
.panel h5{
	line-height:37px;
	height:38px;
	padding-left:12px;
}
.panel h4{
	line-height:49px;
	height:50px;
	padding-left:42px;
}
.panel h4, .panel h5{
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
.panel h1, .panel h2, .panel h3, .panel h4, panel h5, .panel h6{
	font-weight:normal;
}
.panel h1, .panel h3{
	line-height:30px;}
.sta{
	background-position:-166px -88px;
}


.list li{
	line-height:30px;
	padding-left:12px;
	background-position:-496px -64px;
	font-size:14px;
}
.list a{
	overflow:hidden;
	display:block;
	float:left;
	text-overflow: ellipsis;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
}
a.more{
	padding-right:16px;
	background-position:right -89px;
	font-size:11px;
	margin-bottom:5px;
}
.table_01, .alert-list .last{
	width:100%;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.table_01 td{
	vertical-align:middle;
	text-align:center;
	padding:3px 5px;
}
.table_01 td b{
	float:left;
}
.table_01 .car, .table_01 .people, .table_01 .qiye{
	width:37px;
	height:21px;
	margin:auto;
}
.table_01 .car{
	background-position:-263px -179px;
}
.table_01 .people{
	background-position:-197.5px -179px;
}
.table_01 .qiye{
	background-position:-141px -179px;
}

.arrow{
	width:15px;
	height:9px;
	position:absolute;
	top:0;
	left:132.5px;
	background-position:-40px -76px;
	z-index:999;
}


.search input[type="text"], .search input[type="button"]{
	height:36px;
	border-radius:4px;
	font-size:16px;
	width:100%;
	font-weight:lighter;
}


.alert li{
	width:140px;
	float:left;
	display:inline;
	height:101px;
	text-align:center;
}
.alert dt{
	height:65px;
	line-height:64px;
}
.alert dl:hover dt, .alert dl.selected dt{
	background-position:-336px -135px;
}
.alert dd{
	height:36px;
	line-height:35px
}
.alert dd.left{
	border-bottom-left-radius:4px;
}
.alert dd.right{
	border-bottom-right-radius:4px;
}


.tabs_01{
	margin-right:8px;
}
.tabs_01 li{
	float:left;
	line-height:36px;
	margin-right:1px;
	font-size:12px;
	padding:0 12px;
}

.alert-list li{
	height:54px;
}
.alert-list dt{
	width:70px;
	text-align:center;
	padding-top:35px;
	height:19px;
	float:left;
	font-size:11px;
}
.alert-list dl.yq dt{
	background-position:-447px -193px;
}
.alert-list dl.ld dt{
	background-position:-447px -273px;
}
.alert-list dd{
	float:left;
	height:50px;
	padding:2px 12px;
	font-size:12px;
}
.alert-list dd span{
	font-size:11px;
}
.num li{
	float:left;
	background-image:url(default/images/num.png);
	background-repeat:no-repeat;
}
.w10p{
	width:15%;
}
.w20p{
	width:20%;
}

.w40p{
	width:40%;
}
.num li div{
	margin-left:60px;
}
.num li h1, .num li h6{
	font-weight:normal;
}
.num li h6{
	color:#fff;
	text-shadow:1px 1px 1px rgba(0,0,0,.3);
	padding-left:8px;
	line-height:27px;
}
.num li.green h1{
	color:#50b0ae;
}
.num li.green h6{
	background:#50b0ae;
}
.num li.orange h1{
	color:#eb7d47;
}
.num li.orange h6{
	background:#eb7d47;
}
.num li.lightgreen h1{
	color:#8acf58;
}
.num li.lightgreen h6{
	background:#8acf58;
}
.num li.pink h1{
	color:#ed7e75;
}
.num li.pink h6{
	background:#ed7e75;
}
.num li.yellow h1{
	color:#d3c145;
}
.num li.yellow h6{
	background:#d3c145;
}
.num li.red h1{
	color:#eb5350;
}
.num li.red h6{
	background:#eb5350;
}
.num li.mem{
	background-position:18px -35px;
}
.num li.ex{
	background-position:18px -135px;
}
.num li.exd{
	background-position:18px -235px;
}
.num li.case{
	background-position:12px -335px;
}
