/* CSS Version Default */
/* Version: 2.0  || Date: 2013-04-17 || Author: Cathy */
/* Cascading Style Sheets Level 2 Revision 1 */
@charset "utf-8";
/*login*/
.login{
	background-image:url(../images/loginbg/login.jpg);
}
.login .logo{
	background:url(../images/logo.png) left top no-repeat;
}
.login .form_bg{
	background:url(../images/login_bg1.png) left top no-repeat;
}
.login h2{
	border-bottom:#de491e 2px solid;
}
.login h3{
	color:#d0d0d0;
}
.login h4{
	color:#f0f0f0;
}
.login label{
	color:#464646;
}
.login input[type="text"], .login input[type="password"]{
	background-color:#fbfbfb;
}
.login input[type="checkbox"]{
	color:#ff8a00;
}
.login button, .login input[type="button"], .login input[type="submit"]{
	background:#de491e;
	color:#fff;
	text-shadow:#bc6600 0 1px 1px;
}
.login button:hover, .login input[type="button"]:hover, .login input[type="submit"]:hover{
	background:#bb360f;
}

/*login end*/

/*header*/
#header, #menu
{
	background-image: url(../images/icon_n.png);
	background-repeat: repeat-x;
}

#header
{
	text-shadow: 0 2px 3px rgba(0,0,0,0.4);
	color:#fff;
	border-bottom:#e87a22 3px solid;
}
#header .logo{
	background:url(../images/n_top_logo.jpg) left top no-repeat;
}
#header li:hover{
	background-color:#5a8dbf;}
/*header end*/

/*menu*/
#header li, #header li:hover, #menu li:hover, #menu li.selected, #menu li:hover a, #menu li.selected a, .sta, .list li, a.more, .table_01 .car, .table_01 .people, .table_01 .qiye, .arrow{
	background-image: url(../images/icon_n.png);
	background-repeat:no-repeat;
}
#menu li a{
	color: #000;
}
#menu li:hover a, #menu li.selected a{
	color: #fff;
}
/*menu end*/

/*footer*/
#footer{
	background-color: #c4c4c4;
	color: #ddd;
}
#footer a{
	color: #103786;
}
#footer a:hover{
	color: #fff;
}
/*footer end*/

a, .gray_01{
	color:#595959;
}
a:hover{
	color:#3598eb;
}
.panel{
	box-shadow:0  0 5px  rgba(0, 0, 0, .4);
}
.panel h5, .panel h4{
	text-shadow:1px 1px 1px rgba(0, 0, 0, .4);
	color:#fff;
}
.panel .lite{
	background-color:#40a6d0;
}
.panel .deep, .search [type="button"].deep{
	background-color:#3778b5;
}
.list li{
	border-bottom:#ccc 1px dashed;
}
.list a.area, .table_01 td b{
	color:#2674b5;
}
.list .date{
	color:#999;
	font-size:11px;
}
.list a b{
	color:#bf8c12;
}
a.more{
	color:#9d8d61;
}
a.more:hover{
	color:#ccc;
}

.table_01{
	background-color:#e7e7e7;
	border-left:#fff 1px solid;
}
.table_01 td{
	border-right:#fff 1px solid;
	border-bottom:#fff 1px solid;
}
.table_01 h6 span, .panel h1{
	color:#f87330;
}

.gray_1{
	background:#e3e3e3;
}
.gray_2{
	background:#f1f1f1;
}


.search input[type="text"], .search input[type="button"]{
	color:#fff;
	text-shadow:1px 1px 2px rgba(0, 0, 0, .4);
}
.search button.lite, .search input[type="button"].lite{
	background:#40a6d0;
}
.search button.deep, .search input[type="button"].deep{
	background:#3778b5;
}



/*left*/

.left {
	background-color: #efefef;
}

#nav{
	background-color: #efefef;
}
#nav li a{
	border-bottom: #e2e2e2 1px solid;
	color: #4d4d4d;
}
#nav li:hover a, #nav li.selected a{
	border-bottom: #bbb 1px solid;
	color: #2466a3;
}
#nav li li a{
	border-bottom: #c9c9c9 1px solid;
	border-top: #fff 1px solid;
}
#nav li:hover li a, #nav li.selected li a{
	color: #4d4d4d;
}
#nav li:hover li:hover a, #nav li.selected li:hover a, #nav li:hover li.selected a, #nav li.selected li.selected a, .position{
	color: #2466a3;
}

/*left end*/


.cont{
	background-color: #fff;
}

.b_bor{
	border-bottom: #bbb 1px solid;
}

.lable_bg{
	background:#f7f9fc;
}

.border1{
	border: #ffa200 1px solid;
}
.border2{
	border: #e635c3 1px solid;
}
.border3{
	border: #2fa6ea 1px solid;
}

/*main end*/

/*search*/
.search  label{
	background-color: #eceff7;
}
/*search end*/

/*table_1*/
.table_1{
	border-top: #e3e3e3 1px solid;
	border-right: #e3e3e3 1px solid;
	background-color: #fff;
}
.table_1 td, .table_1 th{
	border-bottom: #e3e3e3 1px solid;
	border-left: #e3e3e3 1px solid;
	background-color: #fff;
}
.table_1 th{
	background-color: #efefef;
}
.table_1 .pager li{
	background:#fff;
}
.table_1 .pager li a{
	color:#426d7d;
}
.table_1 .pager li.selected a, .table_1 .pager li a:hover{
	color:#fff;
	background:#003d66;
}

/*table_1 end*/

fieldset .upAngle{
	background-position: 5px 5px;
/* 	background-image: url(../images/col-move-bottom.gif); */
	background-image: url(../images/arrow_skip_090.png);	
    background-repeat: no-repeat;
}

fieldset .downAngle {
	background-position: 5px 5px;
/* 	background-image: url(../images/col-move-top.gif); */
	background-image: url(../images/arrow_skip_270.png);
    background-repeat: no-repeat;
}
