<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>主内容页</title>
    <link href="../../css/imgs.css" rel="stylesheet" />
    <link href="../../css/pages.css" rel="stylesheet" />
    <link href="../../css/reset.css" rel="stylesheet" />
    <link href="../../js/jquery-easyui-1.3.6/themes/default/easyui.css" rel="stylesheet" />
    <link href="../../js/jquery-easyui-1.3.6/themes/icon.css" rel="stylesheet" />
    <script src="../../js/jquery-1.11.1.js"></script>
    <script src="../../js/jquery-easyui-1.3.6/jquery.easyui.min.js"></script>
    <script src="../../js/jquery-plugin/jQuery.Url.Parameter.js"></script>
    <script src="../../js/jquery.tmpl.js"></script>
    <script type="text/javascript">
        $(function () {
            var initNavigationList = function () {
                //加载菜单数据
               // var data = [
               //   { 'name': '用户管理', 'id': '1002', 'uri': '../manager/userManager.html' },
              //    { 'name': '角色管理', 'id': '1003', 'uri': '../manager/roleManager.html' },
               //   { 'name': '资源管理', 'id': '1004', 'uri': '../manager/resourceManager.html' },
               // ]
                $.getJSON("/manager/resc/selectchildLevelResByUserId", {belong:0,parentId:$.getUrlParam("id")},function (data) {
                
                data = data.resultObject;
                //渲染菜单
                $("#navigationTemplate").tmpl(data).appendTo("#nav_list");
			
                //绑定菜单点击事件
                $("#nav_list li").click(function () {
                    var $this = $(this);
                    var name = $this.text();

                    //判断标签页是否已经打开
                    if ($('#content_tab').tabs('exists', name)) { 
                        $('#content_tab').tabs('select', name);
                    } else {
                    	//未打开则创建新的标签页
                    	var tools = [{
                            iconCls: 'icon-mini-refresh',
                            handler: function () {
                                //刷新当前 Tab 页
                                var currTab = $('#content_tab').tabs('getSelected');
                                $('#content_tab').tabs('update', {
                                    tab: currTab,
                                    options: {
                                        content: $(currTab).find("iframe")
                                    }
                                });
                            }
                        }]
                    	
                    	if(name == '中心监控' ){
                    		tools.push({iconCls: 'icon-arrow-inout',handler:function(){
                            	window.open($this.attr("url"));
                            }});	
                    	}
                    	
                        $("#content").find("iframe").attr("src", $this.attr("url"));
                        $('#content_tab').tabs('add', {
                            title: name,
                            content: $("#content").html(),
                            closable: true,
                            tools: tools
                        });
                    }
                });
                
                $("#nav_list li:first").click();
                
                }).fail(function () {
                	 $.messager.alert('异常', '请检查网络后重试。');
                });
            };

            //初始化页面布局
            var $mainBody = $('body');
            $mainBody.layout();
            $mainBody.height($mainBody.get(0).height - $mainBody.layout('panel', 'north').outerHeight() - $mainBody.layout('panel', 'south').outerHeight());
            $mainBody.layout('panel', 'west').panel({ title: unescape($.getUrlParam("name")) });//设置左侧当前主资源标题
            $mainBody.layout('resize');

            //加载并渲染子导航列表
            initNavigationList();
        });

    </script>
</head>
<body>
    <div data-options="region:'west',border:'false',split:false" style="width: 200px; overflow: hidden;">
        <div class="left clearfix">
            <div id="nav">
                <ul>
                    <li class="selected clearfix">
                        <ul id="nav_list">
                            <script id="navigationTemplate" type="text/x-jquery-tmpl">
                                <li item_id='${id}' url="${uri}"><a><span>${name}</span></a></li>
                            </script>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content_tab" data-options="region:'center',border:'false',fit:'true'" class="easyui-tabs" style="padding:0;">
    </div>
    <div id="content" style="display: none;">
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" allowtransparency="yes" width="100%" height="99.7%"></iframe>
    </div>
</body>
</html>
